In [ ]:
# Testing the statisitcal significance of squad transfer value on match outcomes at Copa America and Euro 2024

In [178]:
# Load libraries
import numpy as np 
from statsbombpy import sb
from mplsoccer import Pitch, Sbopen
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import scipy.stats as stats
import seaborn as sns
import statsmodels.api as sm

In [144]:
# Find 2024 Euros and Copa America competition_ids
competitions = sb.competitions()
competitions = competitions[(competitions['season_name'] == '2024')]
competitions

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
21,223,282,South America,Copa America,male,False,True,2024,2024-07-15T18:00:33.653673,None,None,2024-07-15T18:00:33.653673
68,55,282,Europe,UEFA Euro,male,False,True,2024,2024-07-15T15:48:50.315500,2024-07-15T15:52:24.778809,2024-07-15T15:52:24.778809,2024-07-15T15:48:50.315500

In [146]:
# Fetch matches for Euro 2024 
df_euros = sb.matches(competition_id=55, season_id=282)

# Fetch matches for Copa America 2024
df_copa_america = sb.matches(competition_id=223, season_id=282)

# Combine the two DataFrames and remove unnecessary variables 
df_combined = pd.concat([df_euros, df_copa_america], ignore_index=True)
df = df_combined[['match_id', 'home_team', 'away_team', 'competition_stage']]

In [148]:
# List of match IDs 
match_ids = df['match_id'].unique().tolist()

# Initialize the parser
parser = Sbopen()

# Initialize an empty list to store DataFrames with player names
all_dfs = []

# Loop through the match IDs and fetch the event data
for match_id in match_ids:
    try:
        # Fetch the event data for each match ID
        df, related, freeze, tactics = parser.event(match_id)
        
        # Append the results to the list
        all_dfs.append(df)
    except Exception as e:
        print(f"Error retrieving data for match {match_id}: {e}")

# Concatenate all the DataFrames into one final DataFrame
df_matches = pd.concat(all_dfs, ignore_index=True)

# Remove duplicates and create a list of all unique player names
players = df_matches['player_name'].dropna().unique().tolist()

# Count the number of player names in the list
print(f"Total players found: {len(players)}")

Total players found: 835

In [33]:
# Scrape transfer values from transfermarkt.com

# Base URL for player search
base_url = "https://www.transfermarkt.com/schnellsuche/ergebnis/schnellsuche?query="

# DataFrame to store results
results = []


# Iterate through the player list with a counter
for i, player in enumerate(players, start=1):
    # Ensure player is a string and handle NaN values
    if isinstance(player, str):  # Check if the player is a string
        # Format the player name for the URL
        search_url = base_url + player.replace(" ", "+")
        # Print the stage of the scraping process and the players which have been scraped
        print(f"{i}/{len(players)}: {player}")
    else:
        print(f"Skipping non-string value: {player}")

    try:
        # Fetch the page
        response = requests.get(search_url, headers={"User-Agent": "Mozilla/5.0"})
        response.raise_for_status()
        soup = BeautifulSoup(response.text, "html.parser")

        # Extract the market value
        market_value_tag = soup.find("td", class_="rechts hauptlink")  # Target the specific class
        if market_value_tag:
            market_value = market_value_tag.text.strip()
        else:
            market_value = "Not Found"

        # Append the result
        results.append({"player": player, "transfer value": market_value})
    except Exception as e:
        results.append({"player": player, "transfer value": "Error: " + str(e)})

    # Pause to avoid being blocked by the website
    time.sleep(2)

# Convert results to DataFrame
df_player_values = pd.DataFrame(results)

# Display results
print(df_player_values)

Skipping non-string value: nan
2/836: Kobbie Mainoo
3/836: Jordan Pickford
4/836: Memphis Depay
5/836: Virgil van Dijk
6/836: John Stones
7/836: Harry Kane
8/836: Tijjani Reijnders
9/836: Cody Mathès Gakpo
10/836: Kyle Walker
11/836: Nathan Aké
12/836: Stefan de Vrij
13/836: Jerdy Schouten
14/836: Denzel Dumfries
15/836: Donyell Malen
16/836: Marc Guehi
17/836: Declan Rice
18/836: Jude Bellingham
19/836: Kieran Trippier
20/836: Phil Foden
21/836: Bukayo Saka
22/836: Xavi Simons
23/836: Bart Verbruggen
24/836: Joey Veerman
25/836: Luke Shaw
26/836: Wout Weghorst
27/836: Ollie Watkins
28/836: Cole Palmer
29/836: Joshua Zirkzee
30/836: Brian Brobbey
31/836: Conor Gallagher
32/836: Unai Simón Mendibil
33/836: Robin Aime Robert Le Normand
34/836: Daniel Carvajal Ramos
35/836: Daniel Olmo Carvajal
36/836: Álvaro Borja Morata Martín
37/836: Lamine Yamal Nasraoui Ebana
38/836: Rodrigo Hernández Cascante
39/836: Aymeric Laporte
40/836: Nicholas Williams Arthuer
41/836: Marc Cucurella Saseta
42/836: Fabián Ruiz Peña
43/836: Martín Zubimendi Ibáñez
44/836: Mikel Oyarzabal Ugarte
45/836: José Ignacio Fernández Iglesias
46/836: Ivan Toney
47/836: Mikel Merino Zazón
48/836: Adrien Rabiot
49/836: N'Golo Kanté
50/836: Jules Koundé
51/836: Dayotchanculle Upamecano
52/836: Ousmane Dembélé
53/836: Randal Kolo Muani
54/836: Aurélien Djani Tchouaméni
55/836: William Saliba
56/836: Mike Maignan
57/836: Theo Bernard François Hernández
58/836: Jesús Navas González
59/836: Kylian Mbappé Lottin
60/836: Daniel Vivian Moreno
61/836: Antoine Griezmann
62/836: Eduardo Camavinga
63/836: Bradley Barcola
64/836: Olivier Giroud
65/836: Ferrán Torres García
66/836: Mert Müldür
67/836: Kaan Ayhan
68/836: Hakan Çalhanoğlu
69/836: Barış Alper Yılmaz
70/836: Salih Özcan
71/836: Fehmi Mert Günok
72/836: Samet Akaydin
73/836: Abdülkerim Bardakcı
74/836: Steven Bergwijn
75/836: Arda Güler
76/836: Kenan Yildiz
77/836: Ferdi Erenay Kadıoğlu
78/836: Micky van de Ven
79/836: Okay Yokuşlu
80/836: Muhammed Kerem Aktürkoğlu
81/836: Mehmet Zeki Çelik
82/836: Cenk Tosun
83/836: Jeremie Frimpong
84/836: Semih Kılıçsoy
85/836: Bertuğ Özgür Yıldırım
86/836: João Maria Lobo Alves Palhinha Gonçalves
87/836: Cristiano Ronaldo dos Santos Aveiro
88/836: Nuno Mendes
89/836: Vitor Machado Ferreira
90/836: Rúben Santos Gato Alves Dias
91/836: Kléper Laveran Lima Ferreira
92/836: Bernardo Mota Veiga de Carvalho e Silva
93/836: Bruno Miguel Borges Fernandes
94/836: Rafael Alexandre Conceição Leão
95/836: Diogo Meireles Costa
96/836: João Pedro Cavaco Cancelo
97/836: Nélson Cabral Semedo
98/836: Francisco Fernandes Conceição
99/836: Marcus Thuram
100/836: Rúben Diogo Da Silva Neves
101/836: Youssouf Fofana
102/836: João Félix Sequeira
103/836: Matheus Luiz Nunes
104/836: Marcel Sabitzer
105/836: Nicolas Seiwald
106/836: Maximilian Wöber
107/836: Patrick Wimmer
108/836: Alexander Prass
109/836: Florian Grillitsch
110/836: Philipp Lienhart
111/836: Stefan Posch
112/836: Patrick Pentz
113/836: Lutsharel Geertruida
114/836: Romano Schmid
115/836: Marko Arnautović
116/836: Leopold Querfeld
117/836: Georginio Wijnaldum
118/836: Konrad Laimer
119/836: Christoph Baumgartner
120/836: Michael Gregoritsch
121/836: Andreas Weimann
122/836: Jannik Vestergaard
123/836: Christian Dannemann Eriksen
124/836: Rasmus Winther Højlund
125/836: Pierre-Emile Højbjerg
126/836: Joakim Mæhle
127/836: Jonas Older Wind
128/836: Trent Alexander-Arnold
129/836: Victor Bernth Kristansen
130/836: Joachim Andersen
131/836: Morten Hjulmand
132/836: Andreas Christensen
133/836: Kasper Schmeichel
134/836: Alexander Hartmann Bah
135/836: Mikkel Damsgaard
136/836: Jarrod Bowen
137/836: Eberechi Eze
138/836: Yussuf Yurary Poulsen
139/836: Andreas Skov Olsen
140/836: Christian Nørgaard
141/836: Ricardo Iván Rodríguez Araya
142/836: Yann Sommer
143/836: Ruben Vargas
144/836: Ezri Konsa Ngoyo
145/836: Dan Ndoye
146/836: Breel-Donald Embolo
147/836: Michel Aebischer
148/836: Granit Xhaka
149/836: Fabian Lukas Schär
150/836: Manuel Obafemi Akanji
151/836: Fabian Rieder
152/836: Remo Freuler
153/836: Steven Zuber
154/836: Silvan Widmer
155/836: Denis Lemi Zakaria Lako Lado
156/836: Xherdan Shaqiri
157/836: Vincent Sierro
158/836: Mohamed Zeki Amdouni
159/836: Kai Havertz
160/836: Toni Kroos
161/836: Jamal Musiala
162/836: Leroy Sané
163/836: David Raum
164/836: Jonathan Tah
165/836: Pedro González López
166/836: Emre Can
167/836: Antonio Rüdiger
168/836: Joshua Kimmich
169/836: Manuel Neuer
170/836: İlkay Gündoğan
171/836: Florian Wirtz
172/836: Robert Andrich
173/836: Maximilian Mittelstädt
174/836: Niclas Füllkrug
175/836: Thomas Müller
176/836: Nico Schlotterbeck
177/836: Waldemar Anton
178/836: José Luis Sanmartín Mato
179/836: Deniz Undav
180/836: Kevin De Bruyne
181/836: Youri Tielemans
182/836: Jan Vertonghen
183/836: Koen Casteels
184/836: Artem Dovbyk
185/836: Wout Faes
186/836: Roman Yaremchuk
187/836: Romelu Lukaku Menama
188/836: Oleksandr Svatok
189/836: Timothy Castagne
190/836: Georgiy Sudakov
191/836: Mykola Shaparenko
192/836: Jeremy Doku
193/836: Vitalii Mykolenko
194/836: Amadou Onana
195/836: Leandro Trossard
196/836: Mykola Matvienko
197/836: Arthur Theate
198/836: Anatolii Trubin
199/836: Oleksandr Tymchyk
200/836: Illia Zabarnyi
201/836: Volodymyr Brazhko
202/836: Oleksandr Zinchenko
203/836: Orel Mangala
204/836: Yannick Ferreira Carrasco
205/836: Vladyslav Vanat
206/836: Taras Stepanenko
207/836: Ruslan Malinovskiy
208/836: Johan Bakayoko
209/836: Andriy Yarmolenko
210/836: Ikoma Loïs Openda
211/836: Antonín Barák
212/836: Ladislav Krejčí
213/836: Tomáš Holeš
214/836: Mojmír Chytil
215/836: Merih Demiral
216/836: Vladimír Coufal
217/836: Lukáš Provod
218/836: Tomáš Souček
219/836: David Jurásek
220/836: Jindřich Staněk
221/836: Adam Hložek
222/836: İsmail Yüksek
223/836: Robin Hranáč
224/836: Patrik Schick
225/836: Matěj Kovář
226/836: Tomáš Chorý
227/836: Jan Kuchta
228/836: Uğurcan Çakır
229/836: Ondřej Lingr
230/836: Matěj Jurásek
231/836: Vitezslav Jaros
232/836: Lukáš Červ
233/836: Orkun Kökçü
234/836: Philipp Mwene
235/836: Kevin Danso
236/836: İrfan Can Kahveci
237/836: Andrei Florin Ratiu
238/836: Radu Drăgușin
239/836: Marius Mihai Marin
240/836: Florin Constantin Niţă
241/836: Denis Mihai Drăguş
242/836: Răzvan Gabriel Marin
243/836: Dennis Man
244/836: Nicolae Claudiu Stanciu
245/836: Ianis Hagi
246/836: Vasile Mogoș
247/836: Andrei Burcă Andonie
248/836: Bogdan Racovițan
249/836: Alexandru Cicâldău
250/836: Denis Alibec
251/836: Valentin Mihai Mihăilă
252/836: Darius Dumitru Olaru
253/836: Jaka Bijol
254/836: Jure Balkovec
255/836: Jan Mlakar
256/836: Jan Oblak
257/836: Benjamin Šeško
258/836: Andraž Šporar
259/836: Petar Stojanović
260/836: Timi Elšnik
261/836: Vanja Drkušić
262/836: Žan Karničnik
263/836: Adam Gnezda Čerin
264/836: Diogo José Teixeira da Silva
265/836: Žan Celar
266/836: Jon Gorenc Stankovič
267/836: Benjamin Verbič
268/836: Josip Iličić
269/836: Dodi Lukebakio
270/836: Charles De Ketelaere
271/836: Giorgi Kochorashvili
272/836: Otar Kiteishvili
273/836: Luka Lochoshvili
274/836: Georges Mikautadze
275/836: Otar Kakabadze
276/836: Lasha Dvali
277/836: Giorgi Gvelesiani
278/836: Giorgi Mamardashvili
279/836: Guram Kashia
280/836: Giorgi Chakvetadze
281/836: Khvicha Kvaratskhelia
282/836: Sandro Altunashvili
283/836: Zuriko Davitashvili
284/836: Heorhii Tsitaishvili
285/836: Alejandro Grimaldo García
286/836: Nika Kvekveskiri
287/836: Budu Zivzivadze
288/836: David Strelec
289/836: Milan Škriniar
290/836: Denis Vavro
291/836: Martin Dúbravka
292/836: Ondrej Duda
293/836: Stanislav Lobotka
294/836: Dávid Hancko
295/836: Juraj Kucka
296/836: Peter Pekarík
297/836: Ivan Schranz
298/836: Lukáš Haraslín
299/836: Róbert Boženík
300/836: Tomáš Suslov
301/836: Matúš Bero
302/836: László Bénes
303/836: Norbert Gyömbér
304/836: Ľubomír Tupta
305/836: Srđan Mijailović
306/836: Lazar Samardžić
307/836: Strahinja Pavlović
308/836: Saša Lukić
309/836: Andrija Živković
310/836: Ivan Ilić
311/836: Aleksandar Mitrović
312/836: Nikola Milenković
313/836: Milos Veljkovic
314/836: Predrag Rajković
315/836: Nemanja Gudelj
316/836: Dušan Tadić
317/836: Luka Jović
318/836: Kasper Dolberg
319/836: Dušan Vlahović
320/836: Filip Mladenović
321/836: Thomas Delaney
322/836: Sergej Milinković-Savić
323/836: Qazim Laçi
324/836: Ylber Ramadani
325/836: Rey Manaj
326/836: Nedim Bajrami
327/836: Mario Mitaj
328/836: David Raya Martin
329/836: Kristjan Asllani
330/836: Berat Djimsiti
331/836: Thomas Strakosha
332/836: Jasir Asani
333/836: Arlind Afrim Ajeti
334/836: Iván Balliu Campeny
335/836: Armando Broja
336/836: Fermin Lopez Marin
337/836: Arbër Hoxha
338/836: Medon Berisha
339/836: Ernest Muçi
340/836: Alejandro Baena Rodríguez
341/836: Jacob Bruun Larsen
342/836: Benjamin Henrichs
343/836: Stephan El Shaarawy
344/836: Gianluca Mancini
345/836: Alessandro Bastoni
346/836: Bryan Cristante
347/836: Nicolò Barella
348/836: Federico Chiesa
349/836: Gianluigi Donnarumma
350/836: Giovanni Di Lorenzo
351/836: Nicolò Fagioli
352/836: Matteo Darmian
353/836: Gianluca Scamacca
354/836: Mattia Zaccagni
355/836: Mateo Retegui
356/836: Leonidas Stergiou
357/836: Lorenzo Pellegrini
358/836: Kwadwo Duah
359/836: Andrea Cambiaso
360/836: Davide Frattesi
361/836: Renato Steffen
362/836: András Schäfer
363/836: Willi Orban
364/836: Barnabás Varga
365/836: Jack Hendry
366/836: Márton Dárdai
367/836: John McGinn
368/836: Grant Campbell Hanley
369/836: Billy Gilmour
370/836: Scott McKenna
371/836: Andrew Robertson
372/836: Bendegúz Bolla
373/836: Roland Sallai
374/836: Che Adams
375/836: Callum Styles
376/836: Milos Kerkez
377/836: Péter Gulácsi
378/836: Endre Botka
379/836: Callum McGregor
380/836: Dominik Szoboszlai
381/836: Scott McTominay
382/836: Anthony Ralston
383/836: Angus Gunn
384/836: Ádám Nagy
385/836: László Kleinheisler
386/836: Martin Ádám
387/836: Lawrence Shankland
388/836: Attila Szalai
389/836: Stuart Armstrong
390/836: Ryan Christie
391/836: Kenneth McLean
392/836: Kevin Csoboth
393/836: Zsolt Nagy
394/836: Lewis Morgan
395/836: Kingsley Coman
396/836: Jorge Luiz Frello Filho
397/836: Riccardo Calafiori
398/836: Federico Dimarco
399/836: Ayoze Pérez Gutiérrez
400/836: Giacomo Raspadori
401/836: Josip Šutalo
402/836: Lovro Majer
403/836: Bruno Petković
404/836: Josip Juranović
405/836: Marcelo Brozović
406/836: Dominik Livaković
407/836: Joško Gvardiol
408/836: Elseid Hysaj
409/836: Mateo Kovačić
410/836: Luka Modrić
411/836: Andrej Kramarić
412/836: Ivan Perišić
413/836: Luka Sučić
414/836: Mario Pašalić
415/836: Taulant Sulejmanov
416/836: Ante Budimir
417/836: Klaus Gjasula
418/836: Mirlind Daku
419/836: Martin Baturina
420/836: Ivica Ivušić
421/836: Borna Sosa
422/836: Attila Fiola
423/836: Chris Führich
424/836: Dániel Gazdag
425/836: Gernot Trauner
426/836: Zeno Debast
427/836: Dávid Ďuriš
428/836: Adam Obert
429/836: Michael Ijemuan Folorunsho
430/836: Piotr Zieliński
431/836: Sebastian Szymański
432/836: Nicola Zalewski
433/836: Bartosz Salamon
434/836: Adam Buksa
435/836: Kacper Urbanski
436/836: Jakub Piotr Kiwior
437/836: Przemysław Frankowski
438/836: Wojciech Szczęsny
439/836: Jan Bednarek
440/836: Taras Wiktorowicz Romanczuk
441/836: Jakub Moder
442/836: Karol Świderski
443/836: Bartosz Slisz
444/836: Jakub Piotrowski
445/836: Bartosz Bereszyński
446/836: Mykhailo Mudryk
447/836: Oleksandr Zubkov
448/836: Leo Sauer
449/836: Serhii Sydorchuk
450/836: Maksym Talovierov
451/836: Anzor Mekvabishvili
452/836: Václav Černý
453/836: Solomon Kverkvelia
454/836: Petr Ševčík
455/836: Saba Lobzhanidze
456/836: Giorgi Kvilitaia
457/836: Yusuf Yazıcı
458/836: Krzysztof Piątek
459/836: Paweł Dawidowicz
460/836: Robert Lewandowski
461/836: Kamil Grosicki
462/836: João Neves
463/836: Gonçalo Bernardo Inácio
464/836: Pedro Lomba Neto
465/836: Danilo Luís Hélio Pereira
466/836: António João Pereira Albuquerque Tavares Silva
467/836: José Diogo Dalot Teixeira
468/836: Gonçalo Matias Ramos
469/836: Łukasz Skorupski
470/836: Michał Skóraś
471/836: Andriy Lunin
472/836: Yukhym Konoplya
473/836: Florinel Teodor Coman
474/836: Viktor Tsygankov
475/836: Nicușor Silviu Bancu
476/836: George Alexandru Puşcaş
477/836: Adrián Rus
478/836: Deian Cristian Sorescu
479/836: Erik Janža
480/836: Anthony Gordon
481/836: Josip Stanišić
482/836: Marin Pongracic
483/836: Luka Ivanušec
484/836: Maximilian Beier
485/836: Altay Bayındır
486/836: Yunus Akgün
487/836: Mijat Gaćinović
488/836: Žan Vipotnik
489/836: Veljko Birmančević
490/836: David Brekalo
491/836: Kieran Tierney
492/836: Pavel Šulc
493/836: David Doudera
494/836: Filip Kostić
495/836: Ádám Lang
496/836: Ryan Porteous
497/836: Pascal Groß
498/836: Lionel Andrés Messi Cuccittini
499/836: Enzo Fernandez
500/836: Rodrigo Javier De Paul
501/836: Cristian Gabriel Romero
502/836: Nicolás Alejandro Tagliafico
503/836: Lisandro Martínez
504/836: Damián Emiliano Martínez
505/836: James David Rodríguez Rubio
506/836: Carlos Eccehomo Cuesta Figueroa
507/836: Jefferson Andrés Lerma Solís
508/836: Jhon Adolfo Arias Andrade
509/836: Gonzalo Ariel Montiel
510/836: Julián Álvarez
511/836: Camilo Andrés Vargas Gil
512/836: Santiago Arias Naranjo
513/836: Davinson Sánchez Mina
514/836: Johan Andrés Mojica Palacio
515/836: Ángel Fabián Di María Hernández
516/836: Jhon Andrés Córdoba Copete
517/836: Alexis Mac Allister
518/836: Luis Fernando Díaz Marulanda
519/836: Richard Rios Montoya
520/836: Nicolás Iván González
521/836: Nahuel Molina Lucero
522/836: Rafael Santos Borré Amaury
523/836: Kevin Duvan Castaño Gil
524/836: Juan Fernando Quintero Paniagua
525/836: Lautaro Javier Martínez
526/836: Giovani Lo Celso
527/836: Leandro Daniel Paredes
528/836: Miguel Ángel Borja Hernández
529/836: Jorge Andrés Carrascal Guardo
530/836: Andrés Mateus Uribe Villa
531/836: Nicolás Hernán Otamendi
532/836: Tanitoluwa Oluwaseyi
533/836: Jonathan Osorio
534/836: Mathieu Choiniere
535/836: Richie Laryea
536/836: Moise Bombito
537/836: Facundo Pellistri Rebollo
538/836: Darwin Gabriel Núñez Ribeiro
539/836: Dayne Tristan St. Clair
540/836: Luc Rollet De Fougerolles
541/836: Ismael Koné
542/836: Rodrigo Bentancur Colmán
543/836: José María Giménez de Vargas
544/836: Sebastián Enzo Cáceres Ramos
545/836: Manuel Ugarte Ribeiro
546/836: Sergio Rochet Álvarez
547/836: Maximiliano Javier Araújo Vilches
548/836: Alistair Johnston
549/836: Matías Nicolás Viña Susperreguy
550/836: Ali Ahmed
551/836: Jacob Shaffelburg
552/836: Nahitan Michel Nández Acosta
553/836: Federico Santiago Valverde Dipetta
554/836: Luis Alberto Suárez Díaz
555/836: Giorgian Daniel De Arrascaeta Benedetti
556/836: Paul Brian Rodríguez Bravo
557/836: Alphonso Davies
558/836: Cristian Gonzalo Olivera Ibarra
559/836: Lucas René Olaza Catrofe
560/836: Derek Cornelius
561/836: Jonathan David
562/836: Liam Millar
563/836: Thelonius Bair
564/836: Diego Nicolás De La Cruz Arcosa
565/836: Daniel Muñoz Mejía
566/836: Mathías Olivera Miramontes
567/836: Guillermo Varela Olivera
568/836: Yerry Fernando Mina González
569/836: Luis Fernando Sinisterra Lucumí
570/836: Agustín Canobbio Graviz
571/836: Cyle Larin
572/836: Stephen Antunes Eustáquio
573/836: Maxime Crépeau
574/836: Exequiel Alejandro Palacios
575/836: Roderick Alonso Miller Molina
576/836: Erick Javier Davis Grajales
577/836: Christian Jesús Martinez
578/836: Jovani Francisco Welch Lopez
579/836: Michael Amir Murillo Bermudez
580/836: César Rodolfo Blackman Camarena
581/836: José Fajardo Nelson
582/836: Edgar Yoel Bárcenas Herrera
583/836: José Ángel Córdoba Chambers
584/836: Edgardo Isaac Fariña Wynter
585/836: Orlando Mosquera
586/836: Eduardo Antonio Guerrero Lozcano
587/836: Carlos Miguel Harvey Cesneros
588/836: Abdiel Armando Ayarza Cocanegra
589/836: Omar Javier Valencia Arauz
590/836: Ismael Díaz De León
591/836: Endrick Felipe Moreira de Sousa
592/836: Rodrygo Silva de Goes
593/836: Bruno Guimarães Rodriguez Moura
594/836: Marcos Aoás Corrêa
595/836: Alisson Ramsés Becker
596/836: João Victor Gomes da Silva
597/836: Guilherme Antonio Arana Lopes
598/836: Ronald Federico Araújo da Silva
599/836: Éder Gabriel Militão
600/836: Lucas Tolentino Coelho de Lima
601/836: Danilo Luiz da Silva
602/836: Raphael Dias Belloli
603/836: Sávio Moreira de Oliveira
604/836: Douglas Luiz Soares de Paulo
605/836: Andreas Hoelgebaum Pereira
606/836: Francisco Evanilson de Lima Barbosa
607/836: Gabriel Teodoro Martinelli Silva
608/836: Germán Alejandro Pezzella
609/836: Carlos Augusto Zambrano Ochandarte
610/836: Édison Michael Flores Peralta
611/836: Oliver Sonne
612/836: Alejandro Garnacho Ferreyra
613/836: Aldo Sebastián Corzo Chávez
614/836: Brayan Roberto Reyna Casaverde
615/836: Sergio Fernando Peña Flores
616/836: Pedro David Gallese Quiróz
617/836: José Paolo Guerrero Gonzáles
618/836: Wilder José Cartagena Mendoza
619/836: Marcos Johan López Lanfranco
620/836: Alexander Martín Marquinho Callens Asín
621/836: Jesús Abdallah Castillo Molina
622/836: Gianluca Lapadula Vargas
623/836: José Daniel Rivera Martínez
624/836: Franco Zanelatto Téllez
625/836: Christian Alberto Cueva Bravo
626/836: Valentin Carboni
627/836: Guido Rodríguez
628/836: Lucas Martínez Quarta
629/836: José Luis Rodríguez Francis
630/836: Adalberto Eliécer Carrasquilla Alcázar
631/836: Freddy Elías Góndola Smith
632/836: Kahiser Lenis Navarro
633/836: Eduard Alexander Bello Gil
634/836: Jon Mikel Aramburu Mejías
635/836: Nahuel Adolfo Ferraresi Hernández
636/836: Rafael Enrique Romo Pérez
637/836: Yordan Hernando Osorio Paredes
638/836: Miguel Ángel Navarro Zárate
639/836: Yangel Clemente Herrera Ravelo
640/836: José Andrés Martínez Torres
641/836: José Salomón Rondón Giménez
642/836: Cristian Sleiker Cásseres Yepes
643/836: Yeferson Julio Soteldo Martínez
644/836: Jhonder Leonel Cádiz Fernández
645/836: Jefferson David Savarino Quintero
646/836: Matías Rafael Lacava González
647/836: Wilker José Ángel Romero
648/836: Tomás Eduardo Rincón Hernández
649/836: Moisés Isaac Caicedo Corozo
650/836: Enner Remberto Valencia Lastra
651/836: Jeremy Leonel Sarmiento Morante
652/836: Ray Kendry Páez Andrade
653/836: Angelo Smit Preciado Quiñónez
654/836: Alan Steven Franco Palma
655/836: Willian Joel Pacho Tenorio
656/836: Carlos Armando Gruezo Arboleda
657/836: Piero Martín Hincapié Reyna
658/836: Felix Eduardo Torres Caicedo
659/836: Alexander Domínguez Carabalí
660/836: Alan Steve Minda García
661/836: Kevin José Rodríguez Cortez
662/836: Ángel Israel Mena Delgado
663/836: John Yeboah Zamora
664/836: Jordy Josué Caicedo Medina
665/836: Alexis Alejandro Sánchez Sánchez
666/836: Gabriel Arias Arroyo
667/836: Rodrigo Eduardo Echeverría Sáez
668/836: Guillermo Alfonso Maripán Loaysa
669/836: Mauricio Aníbal Isla Isla
670/836: Víctor Alejandro Dávila Zavala
671/836: Darío Esteban Osorio Osorio
672/836: Igor Lichnovsky Osorio
673/836: Eduardo Jesús Vargas Rojas
674/836: Gabriel Alonso Suazo Urbina
675/836: Marcelino Ignacio Nuñez Espinoza
676/836: Thomas Ignacio Galdames Millán
677/836: Erick Antonio Pulgar Farfán
678/836: Marcos Nikolas Bolados Hidalgo
679/836: Ben Brereton Díaz
680/836: Tajon Buchanan
681/836: César Ignacio Pérez Maldonado
682/836: Kamal Miller
683/836: Álvaro José Zamora Mata
684/836: Francisco Javier Calvo Quesada
685/836: Manfred Ugalde
686/836: Haxzel Quirós Cruz
687/836: Warren Steven Madrigal Molina
688/836: Jeyland Yahir Mitchell Baltodano
689/836: Juan Pablo Vargas Campos
690/836: Ariel Lassiter
691/836: Brandon Aguilera Zamora
692/836: Orlando Moisés Galo Calderón
693/836: Patrick Gilmar Sequeira Mejías
694/836: Joel Nathaniel Campbell Samuels
695/836: Joseph Martín Mora Cortéz
696/836: Jefferson Brenes Rojas
697/836: Josimar Alcócer
698/836: Yaser Esneider Asprilla Martínez
699/836: Jhon Jáder Durán Palacio
700/836: Andy Rojas Maroto
701/836: Giovanni Reyna
702/836: Tim Ream
703/836: Joseph Scally
704/836: Weston McKennie
705/836: Timothy Weah
706/836: Tyler Adams
707/836: Antonee Robinson
708/836: Matthew Charles Turner
709/836: Chris Richards
710/836: Christian Pulisic
711/836: Folarin Balogun

In [172]:
# Add team info to player transfer values

# Merge df_players with df_player_values on player_name and player
df_players_team_value = df_players.merge(df_player_values[['player', 'transfer value']], 
                           left_on='player_name', right_on='player', 
                           how='left')

# Drop unnecessary columns (like 'player' from df_players_team_value)
df_players_team_value = df_players_team_value.drop(columns=['player'])

# View the result
df_players_team_value.head()

       player_name    team_name transfer value
0    Kobbie Mainoo      England        €55.00m
1  Jordan Pickford      England        €20.00m
2    Memphis Depay  Netherlands        €10.00m
3  Virgil van Dijk  Netherlands        €28.00m
4      John Stones      England        €30.00m

In [176]:
# Function to convert the transfer value to numeric values
def convert_transfer_value(value):
    if isinstance(value, str):  # Check if the value is a string
        if value == 'Not Found':  # Handle 'Not Found' cases or any invalid strings
            return np.nan
        
        # Remove the euro symbol (€)
        value = value.replace('€', '').strip()
        
        # Handle 'k' (thousand) and 'm' (million) suffixes
        if 'k' in value:
            return float(value.replace('k', '').strip()) * 1000
        elif 'm' in value:
            return float(value.replace('m', '').strip()) * 1000000
        else:
            # If no suffix, just convert the value to float
            try:
                return float(value)
            except ValueError:
                # If conversion fails, return NaN
                return np.nan
    else:
        # If the value is not a string (e.g., NaN), return NaN
        return np.nan

# Apply the conversion function to the 'transfer value' column
df_players_team_value['transfer value'] = df_players_team_value['transfer value'].apply(convert_transfer_value)

# Display the updated dataframe
print(df_players_team_value)

                             player_name    team_name  transfer value
0                          Kobbie Mainoo      England      55000000.0
1                        Jordan Pickford      England      20000000.0
2                          Memphis Depay  Netherlands      10000000.0
3                        Virgil van Dijk  Netherlands      28000000.0
4                            John Stones      England      30000000.0
..                                   ...          ...             ...
830  Luis Jan Piers Advíncula Castrillón         Peru        300000.0
831       Diego Alfonso Valdés Contreras        Chile       4000000.0
832         Joao Alberto Grimaldo Ubidia         Peru       1000000.0
833          Luis Alfonso Abram Ugarelli         Peru       2000000.0
834                   Jacen Russell-Rowe       Canada       2500000.0

[835 rows x 3 columns]

In [186]:
# Convert 'transfer value' to numeric
df_players_team_value['transfer value'] = pd.to_numeric(df_players_team_value['transfer value'], errors='coerce')

# Group by team_name and calculate the mean transfer value for each team
df_team_value = df_players_team_value.groupby('team_name')['transfer value'].mean().reset_index().sort_values(by='transfer value', ascending=False)

df_team_value

         team_name  transfer value
14         England    6.476190e+07
15          France    5.273529e+07
5           Brazil    5.163889e+07
33           Spain    4.906818e+07
27        Portugal    4.076190e+07
1        Argentina    3.397619e+07
17         Germany    3.340909e+07
22     Netherlands    3.077500e+07
3          Belgium    2.814706e+07
19           Italy    2.809524e+07
38         Uruguay    2.270000e+07
37   United States    1.642857e+07
12         Denmark    1.604412e+07
10         Croatia    1.456500e+07
8         Colombia    1.409565e+07
35          Turkey    1.385600e+07
36         Ukraine    1.313333e+07
30          Serbia    1.262778e+07
13         Ecuador    1.242222e+07
2          Austria    1.026667e+07
34     Switzerland    9.642105e+06
29        Scotland    9.083333e+06
21          Mexico    8.821053e+06
6           Canada    8.802500e+06
16         Georgia    8.702632e+06
18         Hungary    8.555000e+06
32        Slovenia    8.235294e+06
11  Czech Republic    7.441304e+06
26          Poland    7.226190e+06
31        Slovakia    6.421250e+06
28         Romania    4.736842e+06
0          Albania    4.528947e+06
24        Paraguay    4.427778e+06
39       Venezuela    3.427273e+06
7            Chile    3.352632e+06
9       Costa Rica    1.858333e+06
20         Jamaica    1.856944e+06
23          Panama    1.825000e+06
25            Peru    1.184783e+06
4          Bolivia    6.357143e+05

In [188]:
# Create binary variables for home_win and away_win
df_combined['home_win'] = (df_combined['home_score'] > df_combined['away_score']).astype(int)
df_combined['away_win'] = (df_combined['away_score'] > df_combined['home_score']).astype(int)
df_combined['goal_difference'] = (df_combined['home_score'] - df_combined['away_score']).astype(int)

# Display the updated DataFrame
df_matches2 = (df_combined[['match_id','home_team', 'away_team','home_score', 'away_score', 'home_win', 'away_win','goal_difference']])
df_matches2.head(5)

,match_id,home_team,away_team,home_score,away_score,home_win,away_win,goal_difference
0,3942819,Netherlands,England,1,2,0,1,-1
1,3943043,Spain,England,2,1,1,0,1
2,3942752,Spain,France,2,1,1,0,1
3,3942382,Netherlands,Turkey,2,1,1,0,1
4,3942349,Portugal,France,0,0,0,0,0

In [190]:
# Merge df_team_value with df_matches2 to get home_value
df_home = df_matches2.merge(df_team_value[['team_name', 'transfer value']], left_on='home_team', right_on='team_name', how='left')
df_home = df_home.rename(columns={'transfer value': 'transfer value home'}).drop(columns='team_name')


# Merge again to get away_value
df_final = df_home.merge(df_team_value[['team_name', 'transfer value']], left_on='away_team', right_on='team_name', how='left')
df_final = df_final.rename(columns={'transfer value': 'transfer value away'}).drop(columns='team_name')

# The resulting df_final now contains home_value and away_value columns
df_final.head()

,match_id,home_team,away_team,home_score,away_score,home_win,away_win,goal_difference,transfer value home,transfer value away
0,3942819,Netherlands,England,1,2,0,1,-1,3.077500e+07,6.476190e+07
1,3943043,Spain,England,2,1,1,0,1,4.906818e+07,6.476190e+07
2,3942752,Spain,France,2,1,1,0,1,4.906818e+07,5.273529e+07
3,3942382,Netherlands,Turkey,2,1,1,0,1,3.077500e+07,1.385600e+07
4,3942349,Portugal,France,0,0,0,0,0,4.076190e+07,5.273529e+07

In [192]:
# Calculate match outcome as a categorical variables (home, draw or away)
df_final['outcome'] = df_final.apply(lambda row: 'home' if row['home_score'] > row['away_score'] 
                         else ('away' if row['away_score'] > row['home_score'] else 'draw'), axis=1)
# Calculate the transfer value of the home team in relation to the away team
df_final['home relative transfer value'] = df_final['transfer value home'] / df_final['transfer value away']

# Display the final full df with all team, score and transfer values. 
df_final

#Save to csv ahead of statistical testing df_final.to_csv('df_final.csv', index=False)

,match_id,home_team,away_team,home_score,away_score,home_win,away_win,goal_difference,transfer value home,transfer value away,outcome,home relative transfer value
0,3942819,Netherlands,England,1,2,0,1,-1,3.077500e+07,6.476190e+07,away,0.475202
1,3943043,Spain,England,2,1,1,0,1,4.906818e+07,6.476190e+07,home,0.757670
2,3942752,Spain,France,2,1,1,0,1,4.906818e+07,5.273529e+07,home,0.930462
3,3942382,Netherlands,Turkey,2,1,1,0,1,3.077500e+07,1.385600e+07,home,2.221059
4,3942349,Portugal,France,0,0,0,0,0,4.076190e+07,5.273529e+07,draw,0.772953
...,...,...,...,...,...,...,...,...,...,...,...,...
78,3939974,United States,Bolivia,2,0,1,0,2,1.642857e+07,6.357143e+05,home,25.842697
79,3939972,Ecuador,Venezuela,1,2,0,1,-1,1.242222e+07,3.427273e+06,away,3.624521
80,3939971,Mexico,Jamaica,1,0,1,0,1,8.821053e+06,1.856944e+06,home,4.750305
81,3939970,Peru,Chile,0,0,0,0,0,1.184783e+06,3.352632e+06,draw,0.353389
82,3939969,Argentina,Canada,2,0,1,0,2,3.397619e+07,8.802500e+06,home,3.859834

In [194]:
# Testing for statistical significance

# ANOVA method for testing more than two categories (home win, draw, away win)
df_stage = df_final[df_final['outcome'].isin(['home', 'draw', 'away'])]
home_values = df_stage[df_stage['outcome'] == 'home']['home relative transfer value']
draw_values = df_stage[df_stage['outcome'] == 'draw']['home relative transfer value']
away_values = df_stage[df_stage['outcome'] == 'away']['home relative transfer value']

# Perform ANOVA
f_stat, p_value = stats.f_oneway(home_values, draw_values, away_values)

# Output the result
print(f"F-statistic: {f_stat}, P-value: {p_value}")

# If p-value < 0.05, reject the null hypothesis (there's a significant difference)

F-statistic: 4.731433428244266, P-value: 0.01142581097495298

In [196]:
# T-test for testing two categories home win vs away win (excluding draws)
df_win_loss = df_final[df_final['outcome'].isin(['home', 'away'])]
home_values = df_win_loss[df_win_loss['outcome'] == 'home']['home relative transfer value']
away_values = df_win_loss[df_win_loss['outcome'] == 'away']['home relative transfer value']

# Perform a T-test to compare the two groups
t_stat, p_value = stats.ttest_ind(home_values, away_values)

# Output the result
print(f"T-statistic: {t_stat}, P-value: {p_value}")

# If p-value < 0.05, reject the null hypothesis (significant difference)

T-statistic: 2.8896015933532277, P-value: 0.005509536644556829

In [200]:
# Logistical regression uses the binary value hoem_win to estimates the probability of a team winning (1) or losing (0)

# Define the independent variable (Home Relative Value) and dependent variable (home_win)
X = df_final[df_final['outcome'].isin(['home', 'away'])][['home relative transfer value']]  # Independent variable
X = sm.add_constant(X)  # Add constant term (intercept)
y = df_final[df_final['outcome'].isin(['home', 'away'])]['home_win']  # Dependent variable

# Perform logistic regression
model = sm.Logit(y, X)
result = model.fit()

# Display the results
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.489442
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:               home_win   No. Observations:                   57
Model:                          Logit   Df Residuals:                       55
Method:                           MLE   Df Model:                            1
Date:                Sat, 05 Apr 2025   Pseudo R-squ.:                  0.2743
Time:                        18:08:16   Log-Likelihood:                -27.898
converged:                       True   LL-Null:                       -38.441
Covariance Type:            nonrobust   LLR p-value:                 4.391e-06
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -0.9725      0.446     -2.180      0.029      -1.847      -0.098
home relative transfer value     0.7044      0.233      3.027      0.002       0.248       1.160
================================================================================================

In [202]:
# Pearson correlation between squad value and goal difference with goal difference as the dependent variable
correlation, p_value = stats.pearsonr(df_final['home relative transfer value'], df_final['goal_difference'])

# Output the result
print(f"Pearson correlation: {correlation}, p-value: {p_value}")

# If p-value < 0.05, reject the null hypothesis (there's a significant correlation)

Pearson correlation: 0.4393154609926181, p-value: 3.253260352338878e-05